.App{
    background-color: black;
    color: white;
}

.aboutMeRow{
    padding-top: 70px;
    padding-bottom: 10px;
    align-items: center;
}

.firstSlideContainer{
    border: solid hotpink 2px;

}

.captionBlock1{
    margin-top: 200px;
}

.captionBlock2{
    margin-top: 200px;
}

.captionBlock3{
    margin-top: 200px;
}

