.App{
    background-color: black;
    color: white;
}

.applications{
    flex-wrap: wrap;
}

.nav{
    color: ghostwhite
}

.aboutMeRow{
    padding-top: 70px;
    padding-bottom: 10px;
    align-items: center;
}



.carousel{
    /* border: solid ghostwhite 1px;
    padding: 5px; */
    box-shadow: 0 4px 8px 0 ghostwhite;
    transition: 0.3s;
    border-radius: 5%;
}

.carousel:hover{
    box-shadow: 0 8px 16px 0 ghostwhite;
}

.carouselContainer{
    margin-top: 1em;
    padding: 2px 16px;
    
}

.picture{
    padding: .3em;
    height: 30em;
    width: auto;
    border-radius: 6.5%;
 
}

.captionBlock1{
    /* margin-top: 200px; */
    margin: none;
   
    /* margin-bottom: 100px; */
    height: 225px;

}

.captionBlock2{
    margin: none;
    /* margin-top: 150px; */
    height: 225px;
}

.captionBlock3{
    margin: none;
    /* margin-top: 150px; */
    height: 225px;
}

.resumeContainer{
    margin-top: 2em;
}

.skillsHead{
    text-align: center;
}

.skillsBody{
    text-align: center;
}

.educationBlock{
    display: flex;
    justify-content: space-between;
}

.educationLi{
    margin-left: 3em;
}

.certificateBlock{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    /* justify-content:space-around; */
    
}



